*.o
build-native-v1/
mkdsk
mkd6fs
d6fsck
packfs
d6bad
logstore
d6swap
mkdt
mkstream
mktap
words2pt
dlink
darc
p10run
p10job
pdp10-objdump
mkinitfs0
mkbootbanner
d6lz
mktsfs
p10fold
p10super
tsfscheck
